<details x-data="{ expanded: false}"
    class="border rounded-md border-amp-light-blue-500 dark:border-amp-gray-700 bg-amp-light-blue-900 dark:bg-amp-gray-900 relative cursor-pointer"
    @click="expanded = !expanded">
    <summary class="flex relative"><span class="w-full font-semibold text-sm text-amp-gray-800 dark:text-amp-gray-50 summary-name m-4">{{name}}</span><span
            class="transform -translate-y-1/2 transistion duration-100 absolute right-4 top-1/2" x-ref="animatedItem"
            :class="{'rotate-90': expanded, 'rotate-0': !expanded}">
            {{svg src="/docs/assets/general/icon-chevron-down.svg" class="rotate-[270deg] dark:fill-amp-gray-200"}}</span></summary>
    <div @click.stop class="p-4 mt-4 bg-white dark:bg-amp-gray-950 dark:text-amp-gray-50 overflow-x-scroll detail">{{ slot | antlers | strip_tags('br') }}</div>
</details>