<div class="relative basis-64 shrink-0 hidden lg:block">
  <div class="sticky top-24 ml-8 text-sm js-toc">
  </div>

</div>


  <script>

    // Get all h2 and h3 elements
    var headings = document.querySelectorAll('h2, h3');

    // Check if there are more than 3
    if (headings.length > 2) {
      // Execute your code here
      tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.js-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.prose',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h2, h3',
        // For headings inside relative or absolute positioned containers within content.
        hasInnerContainers: true,
        ignoreSelector: '.hint-title',
        orderedList: false,
        ignoreHiddenElements: true,
      });    }
   
  </script>