<section class="w-full flex flex-col items-center">
  {{ partial:breadcrumbs }}
  <div class="flex flex-row w-full pt-8 px-6 lg:p-8">
    <div class="copy w-full">
      <div class="flex flex-row items-start justify-between">
        <h1 class="font-[Gellix] font-normal mb-5 max-w-3xl">{{ title }}</h1>
        </div>
      <div
        class="prose prose-a:text-amp-blue prose-ol:list-decimal prose-ol:list-outside prose-pre:bg-[#fafafa] max-w-prose" data-headings-anchors data-math-root>
        {{partial:sdk-comparison}}
        {{partial:partials/goals}}
        {{partial:partials/academy-link}}
        {{partial:partials/api-lede}}
        {{partial:partials/ampli-examples}}
        {{ content | math_prep }}
        {{partial:partials/chart-landing}}
      </div>
      </div>

    {{ unless hide_toc }}
      {{ partial:toc }}
    {{ /unless }}
  </div>
  </div>
  {{ partial:article-footer }}
</section>