<section class="w-full flex flex-col items-center">
  {{ partial:breadcrumbs }}
  <div class="flex flex-row w-full p-8">
    <div class="copy">
      <div class="flex flex-row items-start justify-between">
        <h1 class="font-[Gellix] font-normal mb-5">{{ title }}</h1>
        {{ if environment == 'local' }}
          <span class="ml-4 text-xs text-gray-300 align-middle"><a href="{{ edit_url }}"
              target="_blank">Edit</a></span>
        {{ /if }}
      </div>
      <div
        class="prose prose-a:text-amp-blue-300 prose-ol:list-decimal prose-ol:list-outside prose-pre:bg-[#fafafa] max-w-prose">
              {{taxonomy:integration_category min_count="1"}}
              <h2 id="{{title | slugify}}">{{title}}</h2>
              <div class="flex flex-wrap gap-4">
              {{entries}}
              <a href="{{ url }}">
                <div
                  class="border border-amp-gray-100 rounded h-24 w-64 p-4 hover:shadow-lg transition-shadow flex items-center">
                  <div>{{ svg src="/assets/partner-icons/{title | slugify}" class="h-12 w-12 max-w-12 max-h-12" }}
                  </div>
                  <div class="pl-8">{{ title }}</div>
                </div>
              </a>
              {{/entries}}
              </div>
              {{/taxonomy:integration_category}}


      </div>
    </div>
    {{ unless hide_toc }}
      {{ partial:toc }}
    {{ /unless }}
  </div>
  </div>
</section>