<section class="w-full flex flex-col items-center">
    {{ partial:breadcrumbs }}
    <div class="flex flex-row w-full p-8">
        <div class="copy">
            <div class="flex flex-row items-start justify-between">
                <h1>{{ title }}</h1>
                {{ if environment == 'local' }}
                    <span class="ml-4 text-xs text-gray-300 align-middle"><a href="{{ edit_url }}"
                            target="_blank">Edit</a></span>
                {{ /if }}
            </div>
            <div class="flex flex-wrap gap-4">
                {{ collection :from="current-collection" landing:is="true" }}
                    <a href="{{ url }}">
                        <div class="border border-black-100 rounded w-64 p-4 hover:shadow-lg transition-shadow">
                            <p class="mt-0">{{ title }}</p>
                            <div class="mb-0 text-sm text-black-500 landing-blurb">{{ landing_blurb | markdown}}</div>
                        </div>
                    </a>
                {{ /collection }}
            </div>
        </div>
    </div>
</section>