<section class="w-full flex flex-col items-center">
    {{ partial:breadcrumbs }}
    <div class="w-full p-8">
        <div class="copy">
            <div class="flex flex-row items-start justify-between">
                <h1>{{ title }}</h1>
                {{ if environment == 'local' }}
                    <span class="ml-4 text-xs text-gray-300 align-middle"><a href="{{ edit_url }}"
                            target="_blank">Edit</a></span>
                {{ /if }}
            </div>
            {{# <div class="prose prose-a:text-amp-blue-300 prose-ol:list-decimal prose-ol:list-outside prose-pre:bg-[#fafafa]"> #}}
            <div class="flex flex-wrap gap-4 w-full max-w-screen-xl">
                {{ collection :from="mount" article_type:is="core" }}
                    <div class="flex-1 basis-80 border border-amp-gray-200 grow-0 rounded p-4 hover:shadow transition">
                        <code class="text-xs mb-2 inline-block {{sdk_status | lower}}">{{ sdk_status }}</code>
                        <a href="{{ url }}">
                            <h2 class="text-md font-Gellix my-0 flex flex-row content-center items-start">
                                {{ supported_languages }}
                                    <img class="h-6 rounded-sm inline mr-1 my-0" src="/docs/assets/icons/{{ value }}.svg" />
                                {{ /supported_languages }}
                                <span class="ml-2">{{ title}}</span>
                            </h2>
                        </a>
                        <div class="inline"><a href="{{ bundle_url }}" target="_blank"><img class="my-0 inline"
                                    src="{{ shields_io_badge }}" alt="" srcset="" /></a>

                        </div>
                        <ul class="text-sm">
                            <li><a href="{{ github_link }}" target="_blank">GitHub</a></li>
                            <li><a href="{{ releases_url }}" target="_blank">Releases</a></li>
                            {{ if ampli_article }}
                                {{ ampli_article }}
                                    <li><a href="{{ url }}">Ampli</a></li>
                                {{ /ampli_article }}
                            {{ /if }}
                            {{ if migration_guide }}
                                {{ migration_guide }}
                                    <li><a href="{{ url }}">{{ title }}</a></li>
                                {{ /migration_guide }}
                            {{ /if }}
                            {{ if plugins }}
                            {{ plugins }}
                                <li><a href="{{ url }}">{{ title }}</a></li>
                            {{ /plugins }}
                            {{ /if }}
                        </ul>
                    </div>
                {{ /collection }}
            </div>
            {{# </div> #}}
        </div>
</section>