<div style="width: 100%; overflow-x: auto; white-space: nowrap;">

<table class="snow-comp">
<thead>
<tr>
<th><strong>Import Strategy</strong></th>
<th><strong>Data Types Supported</strong></th>
<th><strong>Change Data Feed Type</strong></th>
<th><strong>Data Mutability</strong></th>
<th><strong>Amplitude Enrichment Services</strong></th>
<th><strong>Column Mapping Method</strong></th>
<th><strong>When to Use</strong></th>
<th><strong>Considerations</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>Full Sync</td>
<td>User Properties, Group Properties</td>
<td>N/A</td>
<td>N/A</td>
<td>Enrichment services applied</td>
<td>Custom SQL SELECT Query</td>
<td>Use when you need to periodically ingest the entire dataset and cannot track changes incrementally.</td>
<td>Not suitable for large datasets due to the need to ingest the entire dataset each time.</td>
</tr>
<tr>
<td>Timestamp</td>
<td>Events, User Properties, Group Properties</td>
<td>N/A</td>
<td>N/A</td>
<td>Enrichment services applied</td>
<td>Custom SQL SELECT Query</td>
<td>Use when you can track new data using a monotonically increasing timestamp column.</td>
<td>Requires a timestamp column that indicates when the record was loaded into Snowflake.</td>
</tr>
<tr>
<td>Change Data Capture (CDC)</td>
<td>Events</td>
<td>Ingestion Only</td>
<td>Insert operations only</td>
<td>Enrichment services applied</td>
<td>UI-based table and column selection</td>
<td>Use when you want to import data based on changes detected by Snowflake's CDC feature, with Amplitude enrichment services.</td>
<td>Requires change tracking to be enabled in Snowflake.</td>
</tr>
<tr>
<td>Change Data Capture (CDC)</td>
<td>Events, Profiles</td>
<td>Continuous Sync</td>
<td>Supports insert, update, delete operations</td>
<td>Enrichment services <strong>not</strong> applied</td>
<td>UI-based table and column selection</td>
<td>Use when you want to directly mirror data in Snowflake, including updates and deletions, and keep Amplitude in sync with source data.</td>
<td>Disables Amplitude's enrichment services to remain in sync with the source of truth. Requires careful consideration of limitations, such as data retention settings in Snowflake and that deletions/renames of columns may not be captured. See limitations section for more details.</td>
</tr>
</tbody>
</table>
</div>