{{ if site == 'jp'}}
    {{container = "#algolia-search-header"}}
{{ elseif segment_1}}
    {{container = "#algolia-search-header"}}
  {{else}}
    {{container = "#algolia-search"}}
{{/if}}
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script type="text/javascript">
  docsearch({
    appId: "93SYI9HL20",
    apiKey: "1bfbfd55a8ceb5c3d26f898de26ada12",
    indexName: "amplitude-vercel",
    container: '{{container}}',
    debug: true,
    placeholder: "Search 'instrumentation' , 'Export API'",
    transformItems(items) {
        return items.map((item) => ({
          ...item,
          url: item.url.replace('https://amplitude.com','')
        }))
      }
  });
</script>