<div class="nav-level-1 p-4">
    <div class="flex flex-col">
        {{collection :from="destination-catalog" as="integrations"}}
        <a href="/docs/data" class="no-underline nav-button text-left text-[.875rem] my-0 pl-2 py-2 relative text-amp-gray-600 hover:text-amp-blue-500">Back to Data</a>
        {{integrations}}
        <a href="{{url}}" class="no-underline nav-button text-left text-[.875rem] my-0 pl-2 py-2 relative text-amp-gray-600 hover:text-amp-blue-500">{{title}}</a>

        {{/integrations}}

        {{/collection}}
    </div>
</div>