{{markdown}}
## Configure Out-of-the-box {{hub}} Analytics

Before you begin, configure Out-of-the-box {{hub}} Analytics to ensure the provided analysis meets your needs.

Read the sections below to get started configuring {{hub}} Analytics. If your organization has more than one team, consider using views to enable each team to customize their settings.

### Views

Out-of-the-box {{hub}} Analytics uses Views to set and maintain settings. Views enable the different teams that use your project to ensure they can view the data that's most important. To create a view:

1. In the {{hub}} Analytics breadcrumbs, locate the current view to the right of the project. If this is your first time using {{hub}} Analytics, the profile is `Default`.
2. Click the current view, and click *+ Create New View*.
3. Update the settings on each tab to meet your team's needs.

{{partial:admonition type="note" heading="Views availability"}}
Views are available on Growth and Enterprise plans. Users with the Administrator or Manager role can create and update views.
{{/partial:admonition}}
{{/markdown}}