{{markdown}}
## Configure Out-of-the-box {{hub}} Analytics

Before you begin, configure Out-of-the-box {{hub}} Analytics to ensure the provided analysis meets your needs.

Out-of-the-box {{hub}} Analytics uses **views** to set and maintain settings. Views enable the different teams that use your project to ensure they can view the data that's most important. To create a profile:

1. In the {{hub}} Analytics breadcrumbs, locate the current profile to the right of the project.
2. Click the current view, and click *+ Create New View*.
3. Update the settings on each tab to meet your team's needs.

{{partial:admonition type="note" heading="Views availability"}}
Views are available on Growth and Enterprise plans. Users with the Administrator or Manager role can create and update views.
{{/partial:admonition}}
{{/markdown}}