<div class="box-border flex flex-row flex-nowrap items-center border-solid border-b border-grey-200 h-12 px-4"
               style="margin-left: -20px; margin-top: -20px;">
               <div class="flex-auto mr-4 text-sm"><a href="/">Home</a></div>
               {{nav:collection:sections sort="order"}}
               {{if children}}
               <div class="flex-auto mr-4 text-sm" x-data="{ open: false }"  @mouseleave="open = false"><button @click.prevent @mouseover="open = true" style="font-weight:normal">{{title}}</button>
                <div x-cloak x-show="open" class="mt-4 absolute border-2 border-grey-500 top-4 bg-white w-24 p-4">
                    {{children }}
                    <a href="{{url}}">{{title}}</a> <br />
                    {{ /children }}
                </div>
                </div>
                {{else}}
                <!--{{segment_1}} - {{slug}}-->
                <div class="flex-auto mr-4 text-sm "><a href="{{url}}" class="{{if segment_1 === slug}}text-green-700{{/if}}">{{title}}</a></div>
                {{/if}}


               {{/nav:collection:sections}}
           </div>