<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "datePublished": "",
    "dateModified": "{{ last_modified }}",
    "headline": "{{ title }}",
    "description": "{{ safe_content | strip_tags | truncate(100)}}",
    "url": "{{url}}",
    "primaryImageOfPage": {
        "@id": "/assets/images/amplitude-default-seo.png"
    },
    "publisher": {
        "@type": "Organization",
        "name": "Amplitude",
        "legalName": "Amplitude Inc.",
        "url": "https://amplitude.com/",
        "logo": {
            "@type": "ImageObject",
            "url": "https://amplitude.com/nextjs-public/amplitude-default-seo.png"
        },
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "201 3rd St #200",
            "addressLocality": "San Francisco",
            "addressRegion": "CA",
            "postalCode": "94103",
            "addressCountry": "USA"
        },
        "contactPoint": {
            "@type": "ContactPoint",
            "contactType": "Customer Support",
            "telephone": "[+650-988-5131]",
            "email": "sales@amplitude.com"
        },
        "sameAs": [
            "https://twitter.com/Amplitude_HQ",
            "https://www.facebook.com/AmplitudeAnalytics/",
            "https://www.linkedin.com/company/amplitude-analytics"
        ]
    }
} 
</script>