---
id: 3c450c92-9e04-4996-82ac-2baf0a741845
blueprint: get-started
title: 'Analyze A/B Test Results in Amplitude'
source: 'https://help.amplitude.com/hc/en-us/articles/115001580108-Analyze-A-B-test-results-in-Amplitude'
---
