{{markdown}}
### Remote configuration

Enable remote configuration to set Sample Rate and Masking Level in Amplitude. 

{{partial:admonition type="note" heading="Remote configuration and testing"}}
With `enableRemoteConfig` set to `true`, settings you define in Amplitude take precedence over settings you define locally in the SDK. As a result, while testing your application, Amplitude recommends that you **disable** remote configuration to ensure you can set `sampleRate` to `1`, and ensure you capture test sessions.
{{/partial:admonition}}
{{/markdown}}