@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This is all you. */
.hint.note {
    border: 1px solid blue;
    padding: 10px;
}

h2.hint-title {
    margin-top: auto;
    font-size: medium;
}

p.hint-content {
    font-size: small;
}