@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This is all you. */
.hint.info {
    border: 1px solid blue;
    padding: 10px;
}

h2.hint-title {
    margin-top: auto;
    font-size: medium;
}

p.hint-content {
    font-size: small;
}

li::marker {
    color: red;
}

.max-w-prose {
    max-width: 75ch;
}

h2 a {
    opacity: 0;
    transition: opacity 0.5s;
    margin-left: -16px;
}

h2:hover a {
    opacity: 1;
    transition: opacity 0.5s;
}